body {
    height: 10000px;
    background-image: url("./images/HeaderImage.jpg"), linear-gradient(rgb(129, 19, 152), rgb(0, 204, 255));
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    margin: none;
}
#content {
    position: absolute;
    top: 500px;
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#heading {
    position: absolute;
    top: 20px;
    left 20px;
}

#profile-img {
    position: absolute;
    z-index: -1;
}
.resume-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding-top: 56.25%;
    margin: none;
    border: none;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: none;
    margin-right: none;
    height: 100%;
    width: 100%;
    border: none;
}