body {
    height: 10000px;
    background-image: url("./images/HeaderImage.jpg"), linear-gradient(rgb(117, 51, 147), rgb(117, 51, 147) 20%, rgb(22, 229, 236));
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    margin: 0px;
}
#content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(100vw / 16 * 9);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#heading {
    width: 90%;
    margin: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
}
#heading > h1 {
    font-size: max(2.5em, 4vw);
}
.profile-links {
    position: relative;
    top: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-img {
    width: 20vw;
    height: 20vw;
}
.profile-img:hover {
    width: 25vw;
    height: 25vw;
}
.resume-container {
    position: relative;
    display: block;
    top: 130vh;
    overflow: hidden;
    width: 100%;
    padding-top: calc(11 / 8 * 100%);
    border: none;
}
#resume {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 90%;
    border: none;
    margin: auto;
}
#bio-container {
    position: relative;
    background-color: aqua;
    margin: 7vw;
    border-radius: 3vw;
    padding: 3vw;
}
h2 {
    font-size: max(2.25em, 3vw);
    margin-left: 5vw;

}
#bio-paragraph {
    font-size: max(2em, 2.5vw);
    margin: 5vw;
}
.c55 {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    width: 75%;
    justify-content: space-around;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
nav > a {
    text-decoration: none;
    color: aqua;
    padding-top: 1em;
    padding-bottom: 1em;
    width:100%;
    height:100%;
    text-align: center;
}
nav > a:hover {
    background-color: aqua;
    color: black;
}
#music-video {
    width: 80vw;
    height: calc(80vw / 16 *9);
}
.music-iframe {
    margin: 5px;
}
#music-video-title {
    align-self: flex-start;
}
#bytes-container {
    display: flex;
    justify-content: space-around;
    width: 100%
}
.byte-container {
    position: relative;
    display: block;
    width: 50%;
    padding-top: calc(16 / 9 * 50%);
    margin: 10px;
    border: none;
}
.byte {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
}
#byte-overlay {
    margin-top: 0px;
}
#post-overlay {
    margin-bottom: 0px;
}