body {
    height: 10000px;
    background-image: url("./images/HeaderImage.jpg"), linear-gradient(rgb(129, 19, 152), rgb(0, 204, 255));
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    margin: 0px;
}
#content {
    position: absolute;
    top: 500px;
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#heading {
    margin: 10px;
    position: absolute;
    top: 20px;
    left 20px;
}
.profile-links {
    position: relative;
    top: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-img {
    width: 20vw;
    height: 20vw;
}
.profile-img:hover {
    width: 25vw;
    height: 25vw;
}
.resume-container {
    position: relative;
    top: 140vh;
    overflow: hidden;
    padding-top: 80%;
    margin: none;
    border: none;
    display: flex;
    justify-content: center;
    padding: 20vw;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: none;
    margin-right: none;
    height: 100%;
    width: 100%;
    border: none;
}

#bio-container {
    position: relative;
    top: 100vh;
    background-color: aqua;
    margin: 7vw;
    border-radius: 3vw;
    padding: 4vw;
}
h2 {
    font-size: 7vh;
    margin-left: 5vw;

}

#bio-paragraph {
    font-size: 4vh;
    margin: 5vw;
}

.c55 {
    display: flex;
    justify-content: center;
}